<div class="row">
  <section class="main col-md-9">
    <article>
      <h2>About</h2>
      <p>
        My name is Yi Liu. I'm from China. I'm in the third semester of CPP
        program at Seneca College.
      </p>
      <p>
        Cras dui dui, suscipit ac massa et, fermentum lacinia lacus. Aliquam
        erat volutpat. Phasellus non tellus quis quam eleifend
      </p>
      <p>
        Ut non diam varius ante dictum blandit nec in tortor. Pellentesque
        sodales vel elit eget cursus. In condimentum consequat mauris vel
      </p>
      <p>
        Duis egestas cursus diam, ut volutpat tortor mattis tempor. In et
        imperdiet turpis. Proin aliquet, lectus ultrices fringilla lobortis,
        purus risus imperdiet neque, eget consectetur ligula
      </p>
      <p>
        Nullam vulputate lectus at nisi euismod, nec consectetur lorem
        elementum. Vestibulum id justo metus. Etiam id lacinia nulla.
      </p>
    </article>
  </section>
  <aside class="col-md-3">
    <h2>Coming Soon</h2>
    <p>Stay tuned for future updates...</p>
  </aside>
</div>